<style>
div.warn {
    background-color: black;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em
    color: white;
    }
 </style>

 <style>
 div.answer {
     background-color: lightblue;
     border-color: #dFb5b4;
     border-left: 5px solid #dfb5b4;
     padding: 0.5em
     }
  </style>
